footer {
  background-color: var(--third-color);
  color: #fff;
  text-align: left;
  font-weight: var(--font-semi);
  padding: 2rem 1rem;
}

.footer_title {
  font-size: 1rem;
  margin-bottom: var(--mb-4);
}

.footerSocial {
  margin-bottom: var(--mb-4);
}

.footerSocial a {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footerSocial a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.copy_right {
  font-family: "Poppins";
}

.footer_link,
.copy_right {
  font-size: 0.8rem;
}

.copy_right a {
  color: #fff;
}

.copy_right a:hover {
  color: #fff;
  text-decoration: underline;
}
