footer {
  background-color: var(--third-color);
  color: #fff;
  text-align: left;
  font-weight: var(--font-semi);
  padding: 2rem 1rem;
}

.footer_title {
  font-size: 1rem;
  margin-bottom: var(--mb-4);
}

.copy_right {
  font-family: "Poppins";
}

.footer_link,
.copy_right {
  font-size: 0.8rem;
}

.copy_right a {
  color: #fff;
}

.copy_right a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0.3rem 0.1rem;

    .footer_title {
      font-size: 0.14rem;
      margin-bottom: var(--mb-4);
    }

    .footer_link,
    .copy_right {
      font-size: 0.111rem;
    }
  }
}
